@mixin flex($aling: center, $justify: center, $direction: column, $gap: 2rem) {
  display: flex;
  flex-direction: $direction;
  align-items: $aling;
  justify-content: $justify;
  gap: $gap;
}

@mixin media-break($media: min-width, $break: 600px) {
  @media screen and ($media: $break) {
    @content;
  }
}
