// -------------- Primary --------------
$soft-red: linear-gradient(150deg, hsl(10, 79%, 65%) 40%, hsl(0, 9%, 69%) 65%);
// $soft-red: hsl(10, 79%, 65%);
$cyan: hsl(186, 34%, 60%);
// --------------  Neutral --------------
$dark-brown: hsl(25, 47%, 15%);
$medium-brown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$very-pale-orange: hsl(33, 100%, 98%);
// --------------  Box shadow --------------
// $shadow-soft-red: 0.22rem 0.22rem 0.44rem hsla(0, 8%, 75%, 0.378) inset,
//   -0.22rem -0.22rem 0.64rem hsla(10, 80%, 64%, 0.375) inset;
// --------------  Font size --------------
$lg: 1.5em;
$rm: 1em;
$md: 0.9em;
$sm: 0.85rem;
