@use "../abtract/variables" as colors_bg;
@font-face {
  font-family: DMSans_regular;
  src: url(../assets/fonts/DMSans-Regular.ttf);
}
@font-face {
  font-family: DMSans_bold;
  src: url(../assets/fonts/DMSans-Bold.ttf);
}

body {
  min-height: 100vh;
  font-size: 18px;
  font-family: DMSans_regular;
  hyphens: manual;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: colors_bg.$degrant-bg;
  overflow: hidden;
}
h1 {
  letter-spacing: 0.02em;
  font-size: colors_bg.$md;
  font-weight: 100;
  color: colors_bg.$cream;
}

strong {
  font-family: DMSans_bold;
  font-size: colors_bg.$lg;
  color: colors_bg.$very-pale-orange;
}

h2,
span,
small {
  font-family: DMSans_bold;
  color: colors_bg.$dark-brown;
  font-style: normal;
  text-shadow: 0.085rem -0.1rem 0.3rem #84afcd;
}

h2,
span {
  font-size: colors_bg.$lg;
  font-weight: 900;
}

.content__totalMonth,
li {
  font-size: colors_bg.$rm;
  color: colors_bg.$medium-brown;
  font-weight: 100;
  font-style: normal;
}

li {
  font-size: colors_bg.$sm;
}
