@use "../abtract/mixin" as layout;
.card {
  width: 100%;
  min-height: 100dvh;
  padding: 3rem 1.25rem;
  @include layout.media-break() {
    margin-inline: auto;
    width: 34rem;
    padding: 6.5rem 1.25rem;
  }
}
